{{#each this}}
  <li class='film-card'>
    <div class='overlay-wrap'>
      <img src='https://image.tmdb.org/t/p/w300/{{poster_path}}' alt='{{title}}' id='{{id}}' class='film-image' />
      <div class='card-overlay'>
        <div>
          <button type='button' class='overlay-btn'>add</button>
          <button type='button' class='overlay-btn'>watch</button>
          <button type='button' class='overlay-btn'>delete</button>
        </div>
      </div>
    </div>

    <div class='data-card'>
      <h1 class='film-title'>
        {{title}}
      </h1>
      <div class='data-container'>
        <p class='data-list name-genres'>
        </p>
        <p class='data-list year-list'>
        </p>
        <div class='data-vote is-hidden'>
          <p class='vote-average'>
            {{vote_average}}
          </p>
        </div>
      </div>
    </div>
  </li>
{{/each}}
